bayestar
short
short_hp
short_inject
pycbc_conf
data
.distance_marginalization_lookup.npz
.ipynb_checkpoints
skymap.fits
skymap.png
skymap_rasterize.fits
skymap_rasterize_hp.fits
skypost.obj
injection_simulation/data
injection_simulation/sim_results.csv
injection_simulation/.ipynb_checkpoints
injection_simulation/injection_parameters.csv
